html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hlsd-top-bar {
	margin-top: -10px;
	background-color: blue;
	padding-top: 0px;
}

.hlsd-navbar-background {
	background-color: #333;
	height: 75px;
}

.hlsd-word-navbar {
	color: #777;
	float: left;
	font-size: 22px;
	padding-left: 50px;
	padding-top: 23px;
}

.hlsd-li-navbar {
	color: #777;
}

li {
	float: right;
	font-size: 15px;
	padding-right: 50px;
	padding-top: 27px;
}

.hlsd-jumbotron {
	padding: 50px;
}

.hlsd-logo {
	margin-left: 50px;
}

.ph-button {
	border: solid 2px;
	color: white;
	padding: 30px 30px 30px 30px;
	text-align: center;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 130px;
	font-size: 24px;
}

.ph-button > a:link {
	color: white;
	text-decoration: none;
}
.ph-button > a:hover {
	color: #9ed5bc;
	text-decoration: none;
}

.ph-button > a:visited {
	color: white;
	text-decoration: none;
}

#ph-container {
	background-image: url(../img/ph-all-fruit.jpg);
	width: 100%;
	height: 350px;

}
/* unvisited link */
a:link {
    color: ##777;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: ##777;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #9ed5bc;
    text-decoration: none;
}

/* selected link */
a:active {
    color: ##777;
    text-decoration: none;
}


.hlsd-footer {
	background-color: #333;
	height: 50px;
}

.hlsd-copyright {
	color: white;
	text-align: center;
	padding-top: 12px;
}

/* //////////////////////////////////////////// about us page */
.jumbotron-about-us{
	width: 100%;
	height: 240px;
	background-color: #9ed5bc;
}

.container-littlesister{
	margin-top: 25px;
}

#danielle-about-me, #melissa-about-me  {
	margin-top: 50px;
}

#danielle-about-banner, #melissa-about-banner {
	margin: auto;
	display: block;
}

#dotted-line-divider {
	margin: auto;
	display: block;
}

.h1-about-us {
	color: #58585b;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
}

.h4-about-us {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 0px;
}

#dotted-line {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #58585b;
	text-align: center;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 0px;
}

#whatever-you-can-dream-of {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #58585b;
	text-align: center;
	margin-top: 10px;
	margin-left: 250px;
	margin-right: 250px;

}

#littlesister-h1, #bigsister-h1 {
	margin-top: 15px;
	text-align: center;
	font-family: 'Coming Soon', cursive; 
}

#littlesister-p, #bigsister-p {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;
}

/* //////////////////////////////////////////// contact page */

#contact-header-h3 {
	color: #58585b;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
}

#contact-header-h4 {
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin-bottom: 0px;
}

form {
	text-align: center;
	margin: 0 200px 50px 200px;
}

.contactimage {
	margin-bottom: 50px;
}

.contact-button {
	background-color: #9ed5bc;
	color: white;
	margin-bottom: 25px;
	border: none;
	padding: 10px 25px 10px 25px;
}

