html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	background: url('../img/background-image.jpg');
	color: #59585b;
}

.hlsd-navbar-nav {

}

.hlsd-navbar-div {
	background-color: rgba(60, 60, 60, 0.5);
	box-shadow: 0px 3px 12px #282828;
	height: 75px;
}

.hlsd-navbar-a {
	float: left;
	padding-left: 25px;
	padding-top: 10px;
}

.hlsd-navbar-ul {
	float: right;
	list-style-type: none;
	padding-top: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 500;
}

.hlsd-navbar-li {
	display: inline;
	padding-right: 25px;
	padding-left: 25px;
	font-size: 16pt;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #9ed5bc;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.hlsd-jumbotron-div {
	width: 100%;
}

.hlsd-jumbotron-h1 {
	font-size: 40px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
}

.hlsd-jumbotron-img {
	margin: auto;
	display: block;
}

.hlsd-index-img-div {
	margin-top: 50px;
}

.hlsd-index-img {
	border-radius: 10%;
	margin: auto;
	display: block;
	border: 3px solid white;
	box-shadow: 0px 2px 4px #282828;
}

.hlsd-footer {
    background-color: rgba(60, 60, 60, 0.5);
    height: 50px;
    bottom: 0px;
    width: 100%;
}

.hlsd-footer-div {
	color: white;
	text-align: center;
}

.hlsd-copyright {
	font-size: 15px;
	margin-top: 15px;
	text-align: center;
}





